body{
	padding:0;
	margin:0;
	font-family: 'Lato', sans-serif;
	position: relative;
}

#index{
	background:#eceef0;
}

body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-----start-header----*/
nav {
    background-color: #2874f0;
    color: #FFFFFF;
}

.row2 {
	padding: 15px 0 10px 0;
}

nav input {
    padding: 11px 16px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
	font-size: 15px;
	color: #444;
}

.nav-button {
    background-color: #ffe11b;
    border: 1px solid #ffe11b;
    border-radius: 0 2px 2px 0;
    color: #565656;
    padding: 10px 0;
    height: 43px;
    cursor: pointer;
}

.acesso-button {
    background-color: #2469d9;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
    padding: 10px 0;
    text-align: center;
    height: 41px;
    border-radius: 2px;
    font-weight: 500;
    width: 120px;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}

.acesso-button:hover{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.acesso-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;
}

.item-number {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .1);
    height: 20px;
    padding: 3px 6px;
    font-weight: 500;
    display: inline-block;
    color: #fff;
    line-height: 12px;
    margin-left: 10px;
}

.upper-links {
    display: inline-block;
    padding: 0 11px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
    color: inherit;
    border: none;
    outline: none;
    font-size: 12px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
}

.dropdown:hover {
    background-color: #fff;
}

.dropdown:hover .links {
    color: #000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    background-color: #fff;
    color: #333;
    left: 0px;
    border: 0;
    border-radius: 0;
    box-shadow: 0 4px 8px -3px #555454;
    margin: 0;
    padding: 0px;
}

.links {
    color: #fff;
    text-decoration: none;
}

.links:hover {
    color: #fff;
    text-decoration: none;
}

.profile-links {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    display: block;
    padding: 0 11px;
    line-height: 23px;
}

.profile-li{
    padding-top: 2px;
}

.largenav {
    display: none;
}

.navbar-brand{
	padding: 10px;
	font-size: 31px;
}

.smallnav{
    display: block;
}

.smallsearch{
    margin-left: 15px;
    margin-top: 15px;
}

.menu{
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .largenav {
        display: block;
    }
    .smallnav{
        display: none;
    }
    .smallsearch{
        margin: 0px;
    }
}

/*Sidenav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 4px 8px -3px #555454;
    padding-top: 0px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;        
}

@media screen and (max-height: 450px) {
  .sidenav a {font-size: 18px;}
}

.sidenav-heading{
    font-size: 36px;
    color: #fff;
}

.content {
	height: 100%;
}
.features-section {
	padding:5em 0;
}
.features-section-head h3{
	color:#6d7b8a;
	font-size:2.8em;
	font-weight:700;
}
.features-section-head h3 span {
	color:#eb5367;
	font-weight:900;
}
.features-section-head p {
	color:#6d7b8a;
	font-size:1.3em;
	font-weight:600;
	margin-top:4px;
}
.features-section-grids { 
	background: url('../images/middle-bg.jpg') no-repeat 0px 0px;
	background-size:cover;
	min-height:330px;
	position: relative;
	margin: 10em 0;
}
.features-section-grid {
	position: absolute;
	left: 295px;
	top: -100px;
	width: 63%;
}
.features-section-grid img {
	width: 100%;
}
.girl-info {
	position: relative;
}
.lonovo {
	background: rgba(55, 62, 72, 0.8);
	padding: 20px;
	position: absolute;
	top: -208px;
	left: 116px;
	width: 77.1%;
}
.dress {
	float:left;
	width:45%;
}
.dress h4 {
	color:#ccd1d9;
	font-size:2em;
	font-weight:600;
	letter-spacing:1px;
}
.dress p {
	color:#9a9ea7;
	font-size:1.2em;
	line-height:1.35em;
	font-weight:400;
	margin-top:10px;
}
.priceindollers {
	float:right;
	margin-top:2.5em;
}
.priceindollers h3 {
	color:#ccd1d9;
	font-size:2em;
	font-weight:600;
}
.priceindollers h3 span {
	font-weight:400;
	color:#9a9ea7;
}
.products-section {
	padding:5em 0;
}
.products-section-head h3{
	color:#6d7b8a;
	font-size:2.8em;
	font-weight:700;
}
.products-section-head h3 span {
	color:#eb5367;
	font-weight:900;
}
.products-section-head p {
	color:#6d7b8a;
	font-size:1.3em;
	font-weight:600;
	margin-top:4px;
}
/*--works--*/
#filters {
	margin: 3% 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
#filters li span {
	display: block;
    padding: 7px 28px 7px 20px;
	text-decoration: none;
	color: #9da1a9;
	cursor: pointer;
	font-size: 1.3em;
	font-weight: 500;	
	margin: 0 0.5em;
	border: 1px solid #9da1a9;
	border-radius:50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
	-ms-border-radius: 50px;
	background:#ffffff;
}
#filters li span.active {
	background:#ff6c7b;
	color: #F3F3F3;	
	font-weight: 500;	
      border:1px solid #ff6c7b;	
}
			
#filters li span.filter:hover{
	background:#ff6c7b;
	color: #FFFFFF;
    border:1px solid #ff6c7b;	
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}	
#filters li label {
	width:10px;
	height:10px;
	border-radius:50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
	-ms-border-radius: 50px;
	background:#cdcfd2;
	margin-right:10px;
}	
#filters li label.active {
	background:#ecf0f1;
}
			
#filters li label.filter:hover{
	background:#ecf0f1;
}				 
#filters li {
	display: -webkit-inline-box;
}	
 #portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width: 30%;
	margin: 1% 1.6666% 3%;
	display:none;
	float:left;
	overflow:hidden;
	background:#ffffff;
	padding:1%;
	border: 1px solid #DBDFE6;
}

.preview{
	padding: 2em;
}

#portfoliolist .portfolio-preview {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width: 30%;
	margin: 1% 1.6666% 3%;
	display:none;
	overflow:hidden;
	background:#ffffff;
	padding:1%;
	border: 1px solid #DBDFE6;
}

.portfolio-wrapper{
	overflow:hidden;
	position: relative !important;
	cursor:pointer;
}
.portfolio img {
	max-width:100%;
	max-height: 254px;
	/*--position: relative;--*/
	transition: all 300ms!important;
	-webkit-transition: all 300ms!important;
	-moz-transition: all 300ms!important;
	display: block;
}
.portfolio .label{
	position: absolute;
	width: 100%;
	height:40px;
	bottom:-40px;
}
.portfolio .label-bg{
	background: #22B4B8;
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
}
.portfolio .label-text {
	color:#fff;
	position: relative;
	z-index:500;
	padding:5px 8px;
}
.portfolio .text-category  {
	display:block;
	font-size:9px;
	font-size: 12px;
	text-transform:uppercase;
}

.row:after,
.clearfix:after {
	clear: both;
}
.row,
.clearfix {
	zoom: 1; 
}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.b-link-stripe .b-wrapper {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	text-align:center;
	color:#ffffff;
	overflow:hidden;
}





.title{
	padding:1em;
	margin-top:1em;
}
.colors {
	float:left;
}
.colors h4 {
	color:#6d7b8a;
	font-size:2.05em;
	font-weight:600;
	letter-spacing:1px;
}
.colors p {
	color:#6d7b8a;
	font-size:1.35em;
	font-weight:600;
	margin-top:5px;
	float:left;
	margin-right:5px;
}
.colors ul{
	float:left;
	margin-top: 11px;
}
.colors ul li {
	margin:0 5px;
	display:inline-block;
}
.colors ul li.color1 {
	width:15px;
	height:13px;
	background:#C4C4C4;
}
.colors ul li.color2 {
	width:16px;
	height:13px;
	background:#f9cf7a;
}
.colors ul li.color3 {
	width:16px;
	height:13px;
	background:#8dbaf2;
}
.colors ul li.color4 {
	width:16px;
	height:13px;
	background:#7fddc5;
}

.main{
	background: #FFFFFF;
}

.main-price {
	float:right;
	margin-top:2em;
}
.main-price h3 {
	color:#5c6a78;
	font-size:1.95em;
	font-weight:500;
}
.main-price h3 span {
	font-weight:900;
}
.more {
	width:40%;
	margin:2em auto 1em;
}
.seemore {
	float:left;
}

.login-content{
	background: #FFFFFF;
}

.how_to {
	background: #F8F8F8;
	padding: 0.7em 2em;
	margin: 15px 25px;
}

.login h4,.sign-up h4 {
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: 700;
	color: #3498db;
}

.acount-btn {
	background: #3498db;
	color: #FFF;
	font-size: 1em;
	padding: 0.7em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
}

.acount-btn:hover, .login-right input[type="submit"]:hover{
	background:#000;
	text-decoration:none;
	color:#fff;
}
.login-right form {
	padding: 1em 0;
}
.login-right form div {
	padding: 0 0 2em 0;
}
.login-right span {
	color: #555;
	font-size: 0.875em;
	padding-bottom: 0.2em;
	display: block;
	font-weight: 700;
	text-transform: uppercase;
}
.login-right input[type="text"] {
	border: 1px solid #EEE;
	outline-color:#3498db;
	width: 96%;
	font-size:0.8125em;
	padding: 0.5em;
}

.cus_info_wrap {
	margin-bottom: 20px;
	padding: 0 25px;
}
.cus_info_wrap input[type="text"] {
	width: 71%;
	padding: 4px;
	font-size: 13px;
	font-weight: 400;
	border:1px solid #D6D6D6;
	outline:none;
}
.cus_info_wrap input[type="password"] {
	width: 71%;
	padding: 4px;
	font-size: 13px;
	font-weight: 400;
	border: 1px solid #D6D6D6;
	outline: none;
}
.botton{
	background: #175ed4;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
	border: 0;
	color: #fff;
	font-weight: 700;
	height: 31px;
	font-size: 14px;
	text-transform: uppercase;
	width: 80px!important;
	text-align: center;
}

.sign-up{
	border: 1px solid #D6D6D6;
	border-left:none;
	padding: 2em 0 0 0;
	min-height: 480px;
	width: 38%;
}
.sign-up h4{
	margin-bottom:2em;
}
.forgetit a {
	color: #000;
	font-size: 13px;
	display: block;
	float: left;
	margin-bottom: 0.5em;
	text-decoration:none;
}
.forgetit input[type="text"] {
	width: 71%;
	padding: 7px;
	font-size: 11px;
	text-align:left;
	font-weight:400;
	border: 1px solid #D6D6D6;
	outline: none;
	margin: 0px -4px 0 0;
}
.forgetit {
	padding: 25px 9em 0 24px;
	border-top: 1px solid #B6B6B6;
	margin-top: 2em;
}
.login {
	border: 1px solid #D6D6D6;
	padding: 2em 0 0 0;
	min-height: 480px;
	width: 38%;
	text-align: center;
	margin: 0 auto;
}
.button1 {
	text-align: center;
	margin-top: 1em;
}

.require{
	color: red;
}


ul.breadcrumbs{
	padding:0;
	list-style:none;
	float:left;
}
ul.breadcrumbs li{
	display:inline-block;
	font-size:1.1em;
	color:#000;
}
ul.breadcrumbs li.women{
	background:#ffd400;
	padding:3px;
}
ul.previous{
	padding:0;
	list-style:none;
	float:right;
}
ul.previous li a{
	font-size: 0.89em;
	color: #000;
}
.dreamcrub{
	margin: 4em 0 2.5em 0;
	border: 1px solid #D6D6D6;
	padding: 12px 15px; 
	background: #FFFFFF;
}
li.home a img {
	margin: 0 0 4px 0px;
}
/* start contact */
.edita{
	margin: 0 0 5em 0;
	display: block;
}
.edita h2{
	font-size: 1.5em;
	color: #00405d;
	text-shadow: 0 1px 0 #ffffff;
	text-transform: capitalize;
}
.edita-map{
	margin: 2% 0 2% 0;
}
.col{
	display: block;
}
.edita-form{
	position:relative;
}
.edita-form div{
	padding:5px 0;
}
.edita-form span label{
	margin-top: 10px;
	color: #777777;
	display: block;
	font-size: 1em;
	padding-bottom: 5px;
	text-transform: capitalize;
	font-weight: normal;
}
.edita-form input[type="text"], .edita-form textarea {
	background: #FFFFFF;
	border: 1px solid #E7E7E7;
	color: rgba(85, 81, 81, 0.84);
	padding: 8px;
	display: block;
	width: 100%;
	outline: none;
	-webkit-appearance: none;
	text-transform: capitalize;
}
.edita-form textarea{
	resize:none;
	height:12em;	
	margin-bottom:0.5em;
}
.edita-form input[type="submit"]{
	margin-top: 10px;
	-webkit-appearance: none;
	border: none;
	outline: none;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	padding: 12px 25px;
	background: #eb5367;
	color: #fff;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.edita-form input[type="submit"]:hover{
	background: #000;
	color: #ffffff;
}

/* Tablet */
@media screen and (max-width: 768px) {
	
	.services_nav_list {
		display: none;
	}
	
	.services_nav.responsive {
		display: inherit;
		margin-top: 70px;
		margin-bottom: 30px;
	}
	
	.service_wrapper {
		margin-top: 0px;
	}
	
	.services_nav.desktop {
		display: none;
	}
}

/* Mobile */
@media screen and (max-width: 480px) {
	
	header h1 {
		font-family: 'Bitter', sans-serif;
		font-size: 24px;
		margin-bottom: 20px;
		text-transform: uppercase;
		letter-spacing: 3px;
		line-height: 31px;
	}
	
	header p {
		font-size: 14px;
		line-height: 21px;
		margin-bottom: 35px;
	}
	
	header .container {
		padding: 50% 0 25%;
	}
}

/*-- responsive --*/
@media screen and (max-width: 1440px) {
	.sb-search {
		right: 190px;
		top: 24px;
	}

	.produtos {
		padding: 4em 0;
	}
	
	.edita-section {
		min-height: 630px;
		padding-top: 4em;
	}
	.up-arrow {
		left: 680px;
	}
	.edita-form-main label.span2,.edita-form-main label.span4,.edita-form-main label.span6,.edita-form-main label.span8 {
		left: 350px;
	}
}
@media screen and (max-width: 1366px) {
	.banner-info {
		width: 43%;
		margin: 8em auto 0;
	}
	.logo {
		width: 16%;
	}
	.sb-search {
		right: 160px;
	}
	.sb-search.sb-search-open, .no-js .sb-search {
		width: 20%;
	}
	.header {
		min-height: 698px;
	}
	.features-section-grid {
		left: 274px;
		top: -77px;
		width: 58%;
	}
	.dress h4 {
		font-size: 1.6em;
	}
	.dress p {
		font-size: 1.1em;
	}
	.priceindollers h3 {
		font-size: 1.85em;
	}
	.features-section-grids {
		min-height: 282px;
	}
	.lonovo {
		top: -183px;
		left: 91px;
		width: 77.1%;
	}
	.seemore a,.allproducts a {
		padding: 0.4em 1.3em;
		font-size: 1.6em;
	}
	.more {
		width: 33%;
	}
	.colors h4 {
		font-size: 1.85em;
	}
	.r-title h3,.r-title h4 {
		font-size: 1.5em;
	}
	.edita-section {
		min-height: 604px;
		padding-top: 3em;
	}
	.up-arrow {
		left: 630px;
	}
	.edita-form-main {
		width: 26%;
		margin: 3em auto 0;
	}
}

@media screen and (max-width: 480px) {
	.standard_content {
		height: 235px!important;
	}
	#portfoliolist .portfolio {
		width: 46%;
		margin: 1% 2% 3%;
	}
	.seemore a, .allproducts a {
		padding: 0.5em 1em;
		font-size: 1em;
	}
	
}